* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f7fa;
}

/* NAVBAR */
.navbar {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #0a3d62;
}

.navbar .logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar a.active {
    border-bottom: 2px solid #00d2d3;
}

/* HERO SECTION */
.hero {
    
    height: 30vh;
    background: url("../images/hostel.jpeg") center/cover no-repeat;
    position: relative;
}

.overlay {
    height: 100%;
    background: rgba(0,0,0,0.55);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.overlay h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 42px;
    margin-bottom: 10px;
}

.overlay p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 700px;
    font-size: 18px;
}

/* CONTENT */
.content {
    padding: 40px 80px;
}

.content h2 {
    
    color: #0a3d62;
    margin-top: 30px;
    margin-bottom: 10px;
}

.content p {
    line-height: 1.7;
    margin-bottom: 15px;
}

.content ul {
    margin-left: 20px;
}

.content li {
    margin-bottom: 8px;
}

/* FOOTER */
footer {
    height: 5vh;
    text-align: center;
    padding: 15px;
    background-color: #0a3d62;
    color: white;
}
body {
    margin: 0;
    padding: 40px;
    background: white;
    font-family: Arial, sans-serif;
}

.card {
    width: 60%;
    margin: 30px auto;
    border-radius: 20px;
    padding: 15px;
    background: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
/* animation base */
.animate {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
    transition: all 0.6s ease;
}

/* when visible */
.animate.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}
.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row.reverse {
    flex-direction: row-reverse;
}

.text {
    width: 50%;
    padding: 20px;
}

.image {
    width: 50%;
    text-align: center;
}

.image img {
    width: 90%;
    border-radius: 15px;
}
.card h3 {
    color: #0B1D51;        /* dark navy blue */
    font-size: 32px;       /* much larger, adjust if needed */
    font-family: 'Montserrat', sans-serif; /* modern, clean font */
    font-weight: 700;      /* bold */
    margin-bottom: 12px;   /* space below heading */
}